.product-id{
  display: none
}
.cart{
     position: fixed;
    left: 95%;
    top: 5%;
    font-size: 28px;
}

span.cart-count {
    font-size: 19px;
    width: 20px;
    position: relative;
    top: 22px;
    left: -24px;
    border: 2px solid grey;
    border-radius: 96%;
    color: #333;
    padding: 5px;
    height: 20px;
}

.modal-product-image{
  width: 80px;
  height: 80px;
}

input[type="number"] {
  -webkit-appearance: textfield;
     -moz-appearance: textfield;
          appearance: textfield;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none;
}

.cart-input.form-control{
  width: 33%;
  display: inline-block;
  margin-left: 10px;
  padding: 2px;
  text-align: center;
}
.cart-product-id{
  display: none
}
.cart-count-increment,.cart-count-decrement{
  color: #373333;
  cursor: pointer;
}

.products h2{
  color: #333;
  font-weight: 600
}